* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


header {
    display: flex;
    background-color: #1e162e;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    position: sticky;
    top: 0;
}

header span:not(h3) {
    color: white;
}

.navs {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #7d7a87;

}

.button_nav {
    background: linear-gradient(to right, #883ed6, #047fd6);
    border-style: none;
    padding: 15px;
    border-radius: 5px;
    color: white;
    font-size: 1em;

}

.sectionPrincipal {
    display: flex;
}

.sectionPrincipal section {
    color: white;
    background-color: #2e244f;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 20px;
}

.sectionPrincipal section h1 {
    font-size: 4.5em;
}

.sectionPrincipal section h4 {
    font-weight: normal;
    margin-left: 200px;
}

.sectionPrincipal aside {
    width: 50%;
    background-image: url('../assets/images/hojasFondo.jpg');
    /*filter: drop-shadow(16px 16px 10px #252130); */
    background-position: center;    
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.sectionPrincipal aside img {
    width: 200px;
    margin: 100px;
}

.buttons {
    padding: 5px;
    border: 1px solid #575073;


}

.buttons button {
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
    border-style: none;
    border: 1px solid white;
    font-size: 1em;
    text-align: center;

}

.text_download {
    background: linear-gradient(to right, #f090c1, #f5228f);
    -webkit-background-clip: text;
    color: transparent;
}


.button_features {
    background-color: transparent;
}


.fonctionnalites {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;


}

.fonctionnalites h2 {
    font-size: 3.5em;
    color: #f51488;


}

.fonctionnalites img {
    width: 450px;
}

.info_foncti {
    display: flex;
    flex-direction: row;
    color: #737375;
    gap: 100px;
    justify-content: center;
    margin-top: 60px;

}

.text_foncti {
    width: 30%;
}

.text_foncti h3 {
    background: linear-gradient(to right, #c2538c, #cc1674);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2.5em;
    font-weight: normal;
    margin-bottom: 30px;
}


.titleMark {
    display: flex;
    flex-direction: row;
    color: #ed3293;
    gap: 10px;
    margin: 15px 0;

}

.titleMark h4 {
    font-weight: normal;
    font-size: 1.3em;
}

.titleMark img {
    width: 20px;
}

.check div img {
    width: 20px;
}

.check {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    list-style: none;
    gap: 5px;
}

.check div {
    display: flex;
    gap: 5px;
}


.Plans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1e162e;
    padding: 50px 190px;

}

.titleParra {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.titleParra h2 {
    font-size: 3.5em;
    color: white;
    margin-bottom: 30px;
}

.titleParra p {
    color: #b0aeb5;
    font-size: 1.1em;
    width: 80%;
    font-weight: normal;
}



.boxPlans {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.box {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 270px;
    align-items: center;
    color: #737373;
}

#h3_1 {
    color: #f51488;
}

.box h3 {
    color: #282240;
}

.price span {
    font-size: 2.5em;
    font-weight: normal;
    color: #1c1c1c;
}

.price {
    display: flex;
    background-color: #f5f5f5;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}

.price p {

    display: flex;
}

.box img {
    width: 80px;
}

.box ul {
    list-style: none;
}

.box ul li {
    gap: 20px;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.box ul img {
    width: 15px;
}

.box .info {
    margin: 30px 0;
    text-align: center;
    padding: 0px 20px;

}

.box_button {
    width: 100%;
    background-color: #f2f2f2;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 10px 10px;
}

.button_Sus {

    background: linear-gradient(to right, #eb67ab, #f51685);
    -webkit-background-clip: border-box;
    color: white;
    border-style: none;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 1em;
}

.button_Sus2 {
    background-color: #2e244f;
    color: white;
    border-style: none;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 1em;

}


footer {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0;

}

footer p {
    color: #616161;
    font-size: 1em;
}

footer span {
    color: #f22c92;
}

footer div {
    display: flex;
    gap: 10px;
}

footer div img {

    width: 25px;

}


@media (max-width: 1279px) {

    .sectionPrincipal section h4 {
        margin-left: 150px;
    }

    .Plans {
        padding: 50px 50px;

    }


    .box {
        width: 250px;
    }

    .text_foncti {
        width: 40%;
    }
}

@media (max-width: 920px) {
    .Plans {
        padding: 50px 0px;

    }

    .sectionPrincipal section {
        display: flex;
        align-items: baseline;
        padding-right: 60px;
    }


    .box {
        width: 250px;
    }

    .sectionPrincipal section h4 {
        margin-left: 80px;
    }

    .fonctionnalites img {
        width: 400px;
    }

    .titleMark img {
        width: 20px;
    }

    .check div img {
        width: 20px;
    }

    .text_foncti {
        width: 40%;
    }

    .info_foncti {

        gap: 60px;
    }
}



@media (max-width: 768px) {

    .sectionPrincipal section h4 {
        margin-left: 50px;
    }

    .info_foncti {
        gap: 20px;
    }


    .text_foncti {
        width: 50%;
    }

    .contImgLap {
        display: flex;
        width: 40%;
        align-items: center;

    }

    .contImgLap img {
        width: 100%;
    }



    .titleMark img {
        width: 20px;
    }

    .check div img {
        width: 20px;
    }

    .boxPlans {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
        gap: 40px;

    }

    .box {
        border-radius: 10px;
        width: 280px;
    }


    .buttons button {
        padding: 10px 15px;
        font-size: 1em;

    }

    @media (max-width: 670px) {

        .navs {
            flex-wrap: wrap;
            gap: 5px;
        }

        nav ul {
            gap: 10px;
        }
        nav ul li{
            font-size: 0.8em;
        }

        .button_nav {
            padding: 7px;
            font-size: 0.8em;
        }

        .titleParra p {
        
            font-size: 1em;
            width: 90%;
        
        }

        .buttons button {
            padding: 10px 6px;
        }

        .buttons {
            font-size: 0.9em;
            margin-bottom: 10px;
        }

        .sectionPrincipal section h1 {
            font-size: 4em;
        }

        .sectionPrincipal aside img {
            width: 120px;
            margin: 30px;
        }

        .contImgLap {
            width: 0;
        }

        .sectionPrincipal section h1 {
            font-size: 3.5em;
        }

        footer p{
            font-size: 0.9em;
        }

        .contImgLap img {
            visibility: hidden;
        }

        .text_foncti {
            width: 100%;
            padding: 0 80px;
        }
    }


    @media (max-width: 480px){
        .logo{
            width: 150px;
        }
        .logo img{
            width: 100%;
        }

        .sectionPrincipal aside {
            width: 40%
        }

        nav ul li {
            font-size: 0.7em;
        }
        .navs {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 5px;
        }
        .button_nav {
            padding: 6px;
            font-size: 0.7em;
        }

        
        .sectionPrincipal section h4 {
            margin-left: 10px;
        }
        .sectionPrincipal aside img {
            visibility: hidden;
            width: 0;
        }
        .sectionPrincipal section h1 {
            font-size: 3em;
        }

        .sectionPrincipal section {
            display: flex;
            width: 50%;
            justify-content: center;
        }

        .fonctionnalites h2 {
            font-size: 2.5em;

        }

        .fonctionnalites{
            padding: 30px 0;
        }

        .text_foncti {
            width: 100%;
            padding: 0;
        }
        .buttons button {
            padding: 10px 5px;
            font-size: 0.7em;
        }
        footer{
            flex-wrap: wrap;
            gap: 30px;
        }

        
    }
}